Repository jenkinsci/apache-httpcomponents-client-4-api-plugin, pull requests merged in 2019-10, with the labels that each got.

#24 JENKINS-50772: Enhance uploadFile so that it optionally sets a "Content-Type" header.
  src/main/java/io/jenkins/plugins/httpclient/RobustHTTPClient.java
Labels: enhancement

#22 [JENKINS-59472] Add instructions to introduce apache-httpcomponents-client-4-api
  README.md
Labels: documentation

#26 Add plugin site, changelog and installation number badges to README
  README.md
Labels: documentation, hacktoberfest

#25 Make RobustHTTPClient a public API (was in Beta before)
  src/main/java/io/jenkins/plugins/httpclient/RobustHTTPClient.java
Labels: enhancement
