Repository jenkinsci/apache-httpcomponents-client-4-api-plugin, pull requests merged in 2019-09, with the labels that each got.

#17 Enable testing of the plugin with Java 11 and recent LTS
  .mvn/extensions.xml
  Jenkinsfile
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: chore

#16 Enable Release Drafter and move Changelog to GitHub releases
  .github/release-drafter.yml
  CHANGELOG.md
Labels: chore, documentation

#15 Enable Dependabot in the repository
  .dependabot/config.yml
Labels: chore

#14 [JENKINS-59172] - Use GitHub as a source of the plugin's documentation on plugins.jenkins.io
  pom.xml
Labels: documentation

#12 update httpclient from 4.5.5 to 4.5.8
  pom.xml
Labels: dependencies
