Repository jenkinsci/apache-httpcomponents-client-4-api-plugin, pull requests merged in 2022-07, with the labels that each got.

#88 Replaced "master" with "controller" in Java doc
  src/main/java/io/jenkins/plugins/httpclient/RobustHTTPClient.java
Labels: documentation

#84 Move away from deprecated Release Drafter App
  .github/workflows/release-drafter.yml
Labels: chore

#94 Enable CD
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/cd.yaml
  .github/workflows/release-drafter.yml
  .mvn/maven.config
  pom.xml
Labels: developer
