Repository jenkinsci/apache-httpcomponents-client-4-api-plugin, pull requests merged in 2023-03, with the labels that each got.

#109 Use HTTPS SCM URL
  pom.xml
Labels: chore

#112 Remove unnecessary SpotBugs exclusion
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: chore

#123 Recommend plugin bom, remove old changelog
  CHANGELOG.md
  README.md
Labels: documentation

#118 Refresh plugin for 2023 (Java 11, Jenkins 2.361.4, ...)
  Jenkinsfile
  pom.xml
Labels: enhancement

#125 List markewaite as maintainer
  pom.xml
Labels: skip-changelog
