Repository jenkinsci/apache-httpcomponents-client-4-api-plugin, pull requests merged in 2023-08, with the labels that each got.

#165 Better phrasing for dependencies in README
  README.md
Labels: documentation

#168 Test with Java 21
  Jenkinsfile
Labels: test

#170 Add Plugin Development Team to CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#171 Test with Java 17 and 21
  Jenkinsfile
Labels: test
